<div class="row mb-4">
<div class="col-md-6 offset-md-3">
<div class="list-group">
  <% @user.followers.each do |f| %>
 <ul>

    <li>
      <%= link_to "#{f.username}", user_path(f.username), class="list-group-item list-group-item-action active" aria-current="true" %>
    </li>
</ul>
<% end %>

</div>
</div>
</div>
