HI

<h1> <%= @user.username%>'s feed</h1>

<%= render "shared/tabs" %>
  <%= current_user.feed.count%>

  <% current_user.feed.each do |photo|%>
   <%= render "photos/photo", photo: photo %>   
<%end%>
