
<h1> <%= @user.username%></h1>

<%= render "shared/tabs" %>
  
  <%= current_user.liked_photos.count%>

  <% current_user.liked_photos.each do |photo|%>
   <%= render "photos/photo", photo: photo %>

        
<%end%>
